API_PORT = 6500

DB_DRIVER = postgres
DB_USER = root
DB_PASSWORD = root
DB_HOST = 127.0.0.1
DB_PORT = 5440
DATABASE = postgres

SES_SMTP_HOST =
SES_MAIL_PORT = 587
SES_SMTP_USER =
SES_SMTP_PASS =

REDIS_USER = 
REDIS_PASSWORD = 
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_DB_NUMBER = 0

JWT_SECRET_KEY = <a_secret_key_for_jwt>
COOKIE_SECRET_KEY = <a_secret_key_for_cookies>
