# SERVER CONFIG ---------------------------------------------------------------------------------
API_PORT = 6500

JWT_SECRET_KEY = 
COOKIE_SECRET_KEY = 

# AI-Related Config -----------------------------------------------------------------------------
AI_PROVIDER = # Set to 'ollama' to use ollama models, 'xai' for XAI's models

OLLAMA_VL_MODEL = qwen2.5vl:7b #
OLLAMA_LLM_MODEL = qwen2.5:7b

AI_API_KEY = ##* It's important to set the provider as well.

# DB connection settings -------------------------------------------------------------------------
DB_DRIVER = postgres
DB_USER = root
DB_PASSWORD = root
DB_HOST = 127.0.0.1
DB_PORT = 5445
DATABASE = postgres

# Redis connection settings
REDIS_PASSWORD = ##* Only if your redis instance needs a password
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6390
REDIS_DB_NUMBER = 0

# Mail Settings ---------------------------------------------------------------------------------
##* If you are using SES with its SMTP service, set it to smtp instead of 'ses'. SES is to use with its SDK.
MAIL_PROVIDER = "ses" ##* ses | smtp

AWS_ACCESS_KEY = 
AWS_SECRET_ACCESS_KEY =
AWS_REGION = 

##* Write here only if you are going to use SMTP
SMTP_HOST = 
SMTP_PORT = 587
SMTP_USER = 
SMTP_PASS =